@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    background-color: white;
}

.container {
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* header section - start */
.header-1{
    width: 110px;
    height: auto;
    padding-left: 45px;
}
.header-2{
    margin-left: 920px;
    padding: 20px 15px;

}
.header-2 a{
    text-decoration: none;
    color: rgb(243, 142, 95);
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 15px;
    margin: auto 15px;
    border-radius: 25px;
}
.header-2 a:hover{
    background-color: rgb(26, 57, 236);
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(128, 122, 122);
    color:white;
}
.image{
    position: relative;
    height: 800px;
}
.image  img{
    width: 100%;
    height: 800px;
}
.overlay {
    position: absolute;
    opacity: 0.6;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.image-text {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
    right: 10%;
    text-align: left;
    padding-right: 650px;
    margin-right: 50px;
}
.image-text h1{
    font-size: 25px;

}
.image-text  p{
    font-size: 20px;

}
.image-text a{
    text-decoration: none;
    color: rgb(230, 25, 10);
    font-size: 25px solid rgb(41, 20, 233);
    padding: 6px 10px;
    margin: 150px 100px;
    font-weight: 800;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 25px;
}
.image-text a:hover{
    background-color: rgb(53, 41, 221);
    color: white;
    transition: 0.6;
    box-shadow: rosybrown;
}
/* title - end */
/* business - start */
.business{
    margin: 50px auto;

}

.b-text{
    text-align: center;
    margin-left: 450px;
}
.b-text h2{
    font-size: 25px;
    margin-bottom: 25px;
}
.b-text h2:after{
    display: block;
    height: 2px;
    content: "";
    width: 350px;
    background-color: blueviolet;
    margin: 0 auto;
    margin-top: 20px;
}
.ram{
    width: 100%;
    margin: 50px auto;;
  
}
.ram .left{
    width: 100%;
}
.ram .left .left-img1{
    flex: 0 0 10%;
}

.ram .left-img1 img{
    width: 200%;
    padding: 30px;
    margin: 10px 10px;
    margin-bottom: 20px;
} 
.ram .left-text{
    flex: 0 0 30%;
    font-size: 15px;
    padding: 10px;

}
.ram .left-text h3{
    margin-top: 10px;
    font-size: 20px;
}
.ram .right{
    width: 100%;
}
.ram .right .right-img1{
    flex: 0 0 10%;
}

.ram .right-img1 img{
    width: 80%;
    padding: 30px;
    margin-left: 350px;
    
} 
.ram .right-text{
    flex: 0 0 30%;
    font-size: 15px;
    padding: 10px;
    margin-left: 350px;
}
.ram .right-text h3{
    margin-top: 10px;
    font-size: 20px;
}
.ram a{
    margin-left: 560px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
}
/* end - business */
.student{
    margin: 50px auto;

}

.student-text{
    text-align: center;
}
.student-text h2{
    font-size: 25px;
    margin-bottom: 25px;
}
.student-text h2:after{
    display: block;
    height: 2px;
    content: "";
    width: 350px;
    background-color: blueviolet;
    margin: 0 auto;
    margin-top: 20px;
}
/* study - start */
.student-1{
    width: 100%;
    margin-top: 50px;
}
.student-1 .student-img1{
    flex: 0 0 15%;
    text-align: center;
    margin: 0 auto;  
    border: 1px solid #000;
    border-radius: 25px; 
    padding: 5px 20px;
    margin-left: 130px ;
    background-color: blueviolet;
    color: white;
}
.student-1 .student-img1 p{
    font-size: 15px;
}
.student-1 .student-img1 h3{
    font-size: 20px;
}
.student-1 .student-img1 img {
    width: 30%;
}
.student-1 .student-img2{
    flex: 0 0 15%;
    text-align: center;
    margin: 0 auto;  
    border: 1px solid #000;
    border-radius: 25px; 
    padding: 5px 20px;
    background-color: violet;
    color: white;
}
.student-1 .student-img2 p{
    font-size: 15px;
}
.student-1 .student-img2 h3{
    font-size: 20px;
}
.student-1 .student-img2 img {
    width: 30%;
}
.student-1 .student-img3{
    flex: 0 0 15%;
    text-align: center;
    margin: 0 auto; 
    border: 1px solid #000;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: cornflowerblue;  
    color: white;
}
.student-1 .student-img3 p{
    font-size: 15px;
}
.student-1 .student-img3 h3{
    font-size: 20px;
}
.student-1 .student-img3 img {
    width: 30%;
}
.student-1 .student-img4{
    flex: 0 0 15%;
    text-align: center;
    margin: 0 auto; 
    border: 1px solid #000;
    border-radius: 25px;
    padding: 5px 20px;  
    margin-right: 100px;
    background-color: hotpink;
    color: white;
}
.student-1 .student-img4 p{
    font-size: 15px;
}
.student-1 .student-img4 h3{
    font-size: 20px;
}
.student-1 .student-img4 img {
    width: 30%;
}
/* study - end */
.apply{
    margin: 50px auto;

}

.apply-1{
    text-align: left;
    margin-left: 50px;
}
.apply-1 .apply-1-text h2{
    font-size: 25px;
    
}
.apply-1 .apply-1-text p{
    font-size: 20px;
    margin-right: 650px;
}
.apply-1 h2:after{
    display: block;
    height: 2px;
    content: "";
    width: 170px;
    background-color: blueviolet;
    margin: 0 auto;
    margin-right: 1050px;
}
.textimonial{
    width: 100%;
}
.t-box{
    text-align: center;
    font-size: 15px;
    flex: 0 0 45%;
}
.text-img {
    flex: 0 0 45%;
    text-align: center;
    margin-left: 100px;

}
.text-img-2{
    flex: 70% 40% 25%;
    text-align: left;
    padding-left: 250px;
}
.text-img img{
    width: 55%;
    padding-left: 200px;
}
.fa-chevron-left{ 
    padding-left: 200px;
}
.fa-chevron-right{
    padding-left: 750px;
}
/* end - textimonial */
/* start - qr-code */
.qr-code {
    width: 100%;
    background-image: linear-gradient(rgb(34, 10, 245), #5ce64f);
}
.qr-text{
    text-align: center;
    margin-left: 250px;
}
.qr-text img{
    width: 20%;
}
/* qr-code - end */
/* last - start */
.last{
    width: 100%;
}
.list{
    width: 100%;
}
.last .last-1{
    width: 100%;
}
.last .last-1 img{
    width: 7%;
    margin-top: 50px;
}
.list-1-text{
   
}
.last-1-text p{
    font-size: 13px;
}
.last-1-text a{
    margin-left: 100px;
    color: black;
    display: block;
    text-decoration: none;
}
.last-1-text a:hover{
    color: blue;
}
.list-2{
    margin-left: 150px;
}.list-3{
    margin-left: 150px;
}
.list-4{
    margin-left: 150px;
}

.list-2 a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;

}
.list-2 a:hover{
    color: blue;
}  
.list-3 a:hover{
    color: blue;
} 
.list-4 a:hover{
    color: blue;
}   
.list-3 a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
}
.list-4 a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
}
.lisi-img{
    width: 100%;
}
.list .list-img  img{
    width: 20%;
    display: block;
}
.list .list-img p{
   font-size: 15px;
}